html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: #f7cbf7;
}
ul{
    list-style: none;
}
h1{
    font-size: 3rem;
    text-align: center;
    color:#fa69b1;
    text-shadow: 3px 2px 1px black;    
}
a{
    color: #f2f2f2;
    font-size: 1.2rem;
    text-decoration: none;

}
.container{
    width: 100%;
    padding: 20px 0px;
    background: #c5d5ff;
    border: 2px dashed blue;
      
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
    gap: 10px 
  }
  .task{    
    width: 200px;
    height: 200px;
    border: 1px dashed black;
    background: linear-gradient(#47abee, #fa69b1);
    
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;  
    transition: transform 1s;
    padding: 30px;
    
  }
  .task:hover{
    transform: scale(80%);
  }
  