@font-face{
    font-family: "Cormorant-Regular";
    src: url('../fonts/cormorant_regular_macroman/Cormorant-Regular-webfont.woff') format('woff');
    font-size: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Cormorant-button";
    src: url('../fonts/cormorantunicase_bold_macroman/CormorantUnicase-Bold-webfont.woff') format('woff');
    font-size: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Cormorant-italic";
    src: url('../fonts/cormorant_italic_macroman/Cormorant-Italic-webfont.woff') format('woff');
    font-size: normal;
    font-weight: normal;
}


body{
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;

    
    
}
button{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}


.container{
    display: grid;
    grid-template-rows: 55px 160px auto 33px;
    grid-template-areas: 
        "header"
        "navigation"
        "main"
        "footer";
    
    
}

.item1{
    grid-area: "header";
    position: sticky;
    top: 0px;
    
    
    display: grid;    
    grid-template-columns: 100px auto 80px 80px;
    max-height: 55px;
    padding: 0px;
    
      
    column-gap: 10px;
    border-bottom: 0.5px solid rgba(139, 137, 137, 0.575);
    
}
.item1-index{
    max-width: 30px;
    
    }


.item1-menu{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    gap: 15px;
}
/* header do media query */
/* .item1-menu2{
    display: none;
} */
.item1-btn{
    display: none;
    max-width: 50px;
    max-height: 50px;
}
.item1-menu2, .header-site2, .header-lobby2, .header-login2{
    display: none;
}
/* navigation */
.item2{
    grid-area: "navigation";
    position: sticky;
    top: 55px;

    display: grid;
    grid-template-columns: auto 500px;
    grid-template-rows: 100px 63px;   
    justify-items: center;
    align-items: center;
    max-width: 100%;
    
    
    border-bottom: 0.5px solid rgba(139, 137, 137, 0.575);
    
}
.item2-search{
    justify-self: stretch;
    width: auto;
    height: 50px;
    
    
    border:0.5px solid black;
    border-right: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
    margin-left: 30px;
    
    
    font-family: "Cormorant-italic", sans-serif;
    font-size: 1.5rem;
    }
    .search{
        
        width: 100%;
        height: 50px;
        
        position: relative;
        right: 0px;    
        border: none;
        padding: 0px;
        
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        text-align: start;
        
    }
    .search:focus{
        height: 350px;
        width: 100%;
        border: none;
        background-color: white;
        margin: 0px;
        padding: 0px;
        
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: sticky;
    }
    .search::placeholder {
        padding: 20px;
        font-family: "Cormorant-italic", sans-serif;
        font-size: 1.5rem;
        
        
    }
    
    
.item2-filter1{
    justify-self: stretch;
    width: auto;
    height: 50px;
    list-style: none;
    padding: 0px;
    
    border:0.5px solid black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 30px;
    background-color: white;
    
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-evenly;
    align-items: stretch;    
    
    
    }
    .flt-list{
        display: flex;        
        justify-content: center;
    }
    .flt-btn{               
        flex-basis: 50px;
        background-color: transparent;
        border: none;
        
    }

    .flt-btn:hover{
        background-color: rgb(54, 233, 188);
        transform: color 2s;
        color: purple;
        border-radius: 1px;
        
        height: 50px;
    }
.item2-filter2{
    display: none;
}

.item2-cat-bar{
    justify-self: left;
    padding: 10px;
    display: flex;    
    gap:30px;    
    flex-wrap: nowrap;
    
    
    }
    .drop-btn-content{
        display: flex;    
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
        text-transform: capitalize;
        
        
    }
    .ico16{
        display: block;  
        
      }
    .disabled{
        color: gray;
        border-bottom: 1px dashed gray;
        width: fit-content;
        text-shadow: 1px 1px 5px gray;
      }
               
      .drop-content{
        display:none;
        /* zmienia się na flex po wcisnieciu drop-btn */
        background-color: white;
        position: absolute;
        top: 160px;
        
        border: 1px solid rgb(168, 168, 168);   
        flex-flow: column wrap;
        gap: 10px;
        max-width: 200px;
        padding: 10px;
        text-transform: capitalize;
      }
      

.item2-sort{
    justify-self: right;
    padding: 20px;
    }
    .dropdown-sort{
    display: flex;

    right:0px;

    }
    .sort-content{
        display:none;
        /* zmienia się na flex po wcisnieciu drop-btn */
        background-color: white;
        position:absolute;
        bottom: -80px;
        right:0px;        
        border: 1px solid rgb(168, 168, 168);  
        flex-flow: column wrap;
        max-width: 200px;
        padding: 10px;
      }
/* footer */
.item3{
    grid-area: "footer";
    position: sticky;
    bottom: 0px;
    border-top: 0.2px solid rgb(102, 98, 98);
    text-align: center;
    text-transform: capitalize;  
    

}


.item1, .item2, .item3{    
    background-color: rgb(211, 248, 235);
    padding: 0px;
    z-index: 2;
    
 } 
          
/*main*/
.main{
    grid-area: "main";
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(150px, 350px) );
    justify-content:center;
    
    
        
    gap: 30px;
    
    min-height: 100vh;
    
    list-style: none;
    padding: 0px;
    margin: 10px;

}
.card{
    /* border: 1px solid rgb(138, 138, 138); */
    box-shadow: 1px 1px 3px gray;
    align-content: stretch;

        
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(50px, 50px));
    justify-content: space-between;
    }
    .author{
        color:gray;
    }
.card_img{
    min-width: 200px;
    }
    .main-content-img{
        width: 100%;
    
    }    
    .card_img :hover{
        filter: blur(2px) grayscale(69%);
    }    


/* button style */
.item1-btn, .drop-btn, .sort-btn{
    width: 130px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:none;
    transition: border-radius 1s, box-shadow 0.5s;
  }
  .item1-btn:hover, .drop-btn:hover, .sort-btn:hover, .item1-btn:focus, .drop-btn:focus, .sort-btn:focus{
    border-radius: 30px;
    box-shadow:1px 1px 4px black;
  }
  


/* media queries */

@media (max-width:100%){
    .header-site {
        display: block;
    }

}
@media (max-width:1250px) {
    .item3{
    display: none;
    }
                 
}
@media (max-width:1080px){
    .item1{
        /* grid-area: "header";
        position: sticky;
        top: 0px;      
        
        display: grid;     */
        grid-template-columns: 50px 100px auto;
        /* max-height: 53px;
        padding: 0px;
        
        align-items: center;
          
        column-gap: 10px; */
        
        
    }
    .item1-btn{
        display:inline-block;
        height: 50px;

    }
    .item1-index{
        filter: hue-rotate(230deg) invert(150%);
                
    }    
    .header-login, .header-lobby{
        display: none;
    }
    
    

    /*item1-btn zamienia display none >> flex */

    .item1-menu2{
        display:none;
        position: fixed;
        left: 0px;
        top: 0px;
        background-color: white;
        border: 1px solid black;
        z-index: 3;
        width: 30vw;
        height: 100%;
        flex-flow: column nowrap;
        gap: 50px;


    }
    .header-site2, .header-lobby2, .header-login2{
        display: inline-block;
    }
    
    .item1-menu{
        display: none;
    }
}
@media (max-width:700px){
    .item2{
        grid-template-columns: auto 200px;
        
    }
    .item2-filter1{
        display: none;
    }
    .item2-filter2{
        width: 170px;
        height: 52px;        
        border:1px solid black;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-right: 30px;
        
        display: flex;
        
        
        padding: 10px;
        font-family: "Cormorant-italic", sans-serif;
        font-size: 1.5rem;
            
            
        
    }
    .item2-filter2:focus{

        display: flex;
        flex-direction: column nowrap;
        justify-content: center;
        
        transition: background-color 2s;   
        background-color: rgb(54, 233, 188);        
        color: purple;
    }   
           
}

@media (max-width:605px){
    .item2-cat-bar, .item2-sort{
        display: none;
    }
    .item2{
    grid-template-rows: 100px;
    }
    .container{
    display: grid;
    grid-template-rows: 55px 100px auto 33px;
    grid-template-areas: 
        "header"
        "navigation"
        "main"
        "footer";
    }
}
/* main grid reactive layout breakpoints */
@media (max-width:1526px){
    .main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:1440px){
    .main{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width:1080px){
    .main{
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:768px){
    .main{
    grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:580px){
    .main{
    grid-template-columns: 0.75fr;
    }
}
