/*/////////////////////////////////////////////////////////////// 
            table of content
                1.Color palette
                2.Content Text formating
                3.Nonclass selector properties: body, a, ul
                4.Header
                5.features
                6.testimonals
                7.content
                8.pricing
                9.contact
                10.footer 
            
//////////////////////////////////////////////////////////////// */
 


/* 1. color palette */
:root{
    --primary-color: #23A6F0;
    --secondary-color-1: #40BB15;
    --secondary-color-2: #3C403D;
    --background-gradient-1: linear-gradient(270deg, #D71489 -1.04%, #004788 100%);
    --text-color: #252B42;
    --second-text-color: #737373;
    --light-text-color: #FFFFFF;
    --dark-background-color: #252B42;
    --light-background-color: #FFFFFF;
    --hover-color: #2A7CC7;
    --disabled-element-color: #8EC2F2;
    --muted-color: #BDBDBD;
    --success-color: #2DC071;
    --alert-color: #E77C40;
    --danger-color: #E74040;
    --light-gray-1: #FAFAFA;
    --light-gray-2: #ECECEC;

}
/* 2.content Text formating */
h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    /* or 138% */
    
    letter-spacing: 0.2px;
    margin:0px;
}
h2{
    /* h2 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 57px;
/* identical to box height, or 142% */

letter-spacing: 0.2px;
margin:0px;

}
h3{
/* h3 */


font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* or 133% */

letter-spacing: 0.1px;
margin:0px;

}
h4{
/* h4 */


font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */

letter-spacing: 0.2px;
margin:0px;
}
h5{
    /* h5 */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.1px;
margin:0px;
}
h6{
    /* h6 */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.2px;
margin:0px;
}
.btn-text{
/* btn-text */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
/* or 157% */
letter-spacing: 0.2px;
margin:0px;
color: #FFFFFF;
}
.mobile-menu{
    /* mobile-menu */
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 45px;
/* identical to box height, or 150% */
letter-spacing: 0.2px;
margin:0px;
}
p{
/* paragraph */


font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.2px;
margin:0px;
}
li{
    /* list */


font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

letter-spacing: 0.2px;
margin:0px;

}
.link{
/* link */


font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.2px;

margin:0px;
}
h1, h2, h3, h4, h5, h6, p, .mobile-menu{
    color: #C4C4C4;
}
/* 3. nonclass selector properties */
body{
    scroll-snap-type: mandatory;
}
.desktop {
    /* Desktop */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1440px;
height: 4848px;

background: #FFFFFF;
box-sizing: border-box;
margin: 0px;

}
.header-13, .testimonals-1, .features-5, .content-1 {
    scroll-snap-align: start;
}
a{
    /* a fontstyle */
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
}
ul{
    list-style:none;
    margin: 0px;
}

/* 4.Header */
.header-13{
display: grid;
grid-template-columns: repeat(12, 60px);
justify-content: center;
gap: 30px;

position: relative;
width: 1440px;
height: 847px;



background: #FAFAFA;

    }
    .header13-container-main{
        /* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 80px 0px;

position: absolute;
width: 1050px;
height: 583px;
left: calc(50% - 1050px/2);
top: 104px;

        }
        .header13-container-main-row{
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
width: 1049px;
height: 583px;
left: calc(50% - 1049px/2);
top: 80px;
gap:30px;



        }
            .header13-container-main-colmd6-img{
/* col-md-6-text */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: 510px;
height: 583px;
left: calc(50% - 510px/2 + 269.5px);
top: 0px;

            }
                .header13-container-main-colmd6-mockup{
/* mockup */    

position: static;
width: 471px;
height: 583px;
left: 19.5px;
top: 0px;


                }
                    .placeholder{
                        position: absolute;
                        width: 236.2px;
                        height: 504.27px;
                        left: 236.4px;
                        top: 13.44px;
                        
                        
                        background: #C4C4C4;
                        border-radius: 35px;
                        transform: rotate(21.35deg); 

                    }
                    .iphone-12--product-red-2{
                        position: absolute;
                        width: 471px;
                        height: 583px;
                        left: 19.5px;
                        top: 0px;
                        
                        background: url(.png);
                        border: 1px solid #000000;
                        box-sizing: border-box;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
            .header13-container-main-colmd6-text{
/* col-md-6 */
display: flex;
flex-direction: column-reverse;
align-items: flex-start;
padding: 0px;
justify-content: space-between;

position: relative;
width: 509px;
height: 342px;
gap: 35px;
            }
                .header13-container-main-row-cta{
/* cta */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: static;
width: 349px;
height: 52px;
left: 0px;
top: 290px;
gap:10px;
                }
                .Btn-primaryColor-outline-Round{
/* button.btn.primary-color.btn-outline.btn-round */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 15px 34px;

position: static;
width: 157px;
height: 52px;
left: 197px;
top: 0px;
background-color: transparent;

/* primary-color */

border: 1px solid #23A6F0;
box-sizing: border-box;
border-radius: 37px;

/* Inside auto layout

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 10px;   */
                }
                    .Btn-primaryColor-outline-Round-text{
                        position: static;
                        left: 22.93%;
                        right: 22.93%;
                        top: 28.85%;
                        bottom: 28.85%;
                        
                        /* btn-text */
                        
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 22px;
                        /* identical to box height, or 157% */
                        
                        text-align: center;
                        letter-spacing: 0.2px;
                        
                        /* primary-color */
                        
                        color: #23A6F0;
                        margin:0px;
                         
                    }
                .Btn-primaryColor-Round{
/* button.btn.primary-color.btn-round */
/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 15px 34px;

position: static;
width: 187px;
height: 52px;
left: 0px;
top: 0px;

/* primary-color */

background: #23A6F0;
border:none;
border-radius: 37px;

/* Inside auto layout

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px; */
                }
                    .Btn-primaryColor-Round-text{
/* btn-text */


position: static;
left: 19.25%;
right: 19.25%;
top: 28.85%;
bottom: 28.85%;

/* btn-text */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
letter-spacing: 0.2px;

/* light-text-color */

color: #FFFFFF;
margin:0px;

            }
            .headline-4{
                /* h1 #headline.4 */
                position: static;
                width: 509px;
                height: 160px;
                left: 0px;
                top: 0px;
                               
                /* dark-background-color */
                color:var(--text-color)
                
                
                 
            }
    .header13-container-nav{
position: absolute;
width: 1322px;
height: 91px;
left: 59px;
top: 0px;

    }
    .navbar-style-2-navbar-light{
/* navbar-style-2 navbar-light */
position: absolute;
width: 1322px;
height: 91px;
left: calc(50% - 1322px/2);
top: 0px;

display:grid;
width: 1322px;
height: 91px;
grid-template-columns: 136px 187px 41px 815px 119px 24px;
grid-template-areas:
  ". brand . nav . tog";
align-items: center;
        }
        .navbar-collapse{
            /* collapse navbar-collapse */
            align-self:center;
            grid-area: nav;
            position: absolute;
            width: 815px;
            height: 58px;
            
            }
            .navbar-list{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap:21px;
justify-content: space-between;

position: absolute;
width: 280px;
height: 24px;
left: 0px;
top: calc(50% - 24px/2);
                }
                .navbar-list-link{

position: static;
width: auto;
height: 24px;
left: 221px;
top: 0px;
                }
            .navbar-item{
                display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 300px;
height: 52px;
right: 0px;
top: calc(50% - 52px/2);

                }
                .navbar-LogIn{
                    position: static;
                    width: 41px;
                    height: 22px;
                    left: 0px;
                    top: 15px;
                }
                .navbar-SignIn{
                    position: static;
                    width: 214px;
                    height: 52px;
                    left: 86px;
                    top: 0px;
                }
                .Btn-primaryColor{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 15px 25px;
                    justify-content: space-between;
                    
                    position: absolute;
                    width: 214px;
                    height: 52px;
                    left: 86px;
                    top: 0px;
                    
                    /* primary-color */
                    
                    background: #23A6F0;
                    border-radius: 5px;
                    border: none;
                }
                .Btn-primaryColor-text{
                    position: static;
                    left: 11.68%;
                    right: 24.3%;
                    top: 28.85%;
                    bottom: 28.85%;
                    
                    /* btn-text */
                    
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 22px;
                    /* identical to box height, or 157% */
                    
                    letter-spacing: 0.2px;
                    
                    /* light-text-color */
                    
                    color: #FFFFFF;
                     
                }
        .navbar-toggler{
             /* navbar-toggler */
             align-self: center;
             grid-area: tog;
             position: absolute;
             width: 24px;
             height: 13.71px;
            }
            .toggler{
                position: absolute;
width: 24px;
height: 13.71px;
left: calc(50% - 24px/2);
top: 0px;
            }
        .navbar-brand{
            /* navbar-brand */
            align-self: center;
            grid-area: brand ;
            position: absolute;
            width: 187px;
            height: 58px;
            
            }
            .brand{
            /* BrandName */
            position: absolute;
            width: 145px;
            height: 32px;
            left: 0px;
            top: 13px;

            color:var(--text-color);
            margin:0px;

        }

    .header13-container-bg{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }
    .blob{
        position: absolute;
        width: 1440px;
        height: 847px;
        left: 0px;
        top: 0px;
        
        
    }
/* 5.features */
.features-5{
    position: static;
    width: 1440px;
    height: 641px;
    left: 0px;
    top: 847px;
    background-color: var(--light-background-color);    
}
    .features-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 160px 0px;
        gap:80px;
    }
    .features-container-row1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        
    }
    .features-container-row1-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        text-align: center;
        gap:10px;
                    
    }
    .feature-section1{        
        color: var(--text-color)
    }
    .features-container-row2{
        position: static;
              
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap:30px;
    }
    .features-card-outline{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 40px;
        gap:10px;
        
        position: static;
        width: 325px;
        height: 133.53px;
                
        background: #FAFAFA;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 5px;
    }
    .features-card-feature-outline{
        position: static;
        
        height: 24px;
        text-align: center;
        color: var(--text-color)
    }
    .features-card-fullcolor{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 40px;
        gap:10px;
        
        position: static;
        width: 325px;
        height: 133.53px;

        border-radius: 5px;
        box-sizing: border-box;
        background: var(--primary-color);
    }
    .features-card-feature-fullcolor{
        position: static;
        
        height: 24px;
        text-align: center;
        color: var(--light-text-color);
        }

/* 6.testimonals */
.testimonals-1{
    position: static;
    width: 1440px;
    height: 655px;
    left: 0px;
    top: 1488px;
    background-color: var(--light-gray-1);

    display: flex;
    align-items: center;
    justify-content: center;

    }
    .testimonals-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 112px 0px;
        gap: 80px;

        position: absolute;
        width: 1050px;
        max-height: 655.01px;

    }
    .testimonals-container-row1{
        display:flex;
        flex-direction: column;
        align-items:center;
        gap:10px;

        min-width:607px;
        min-height:107px;

    }
    .testimonals-container-row1-content{
        display:flex;
        flex-direction: column;
        align-items:center;
        gap:10px;
        text-align: center;
    }
    .testimonals-clientOpinion{
        color: var(--text-color);
    }
    .testimonals-container-row2{
        display:flex;
        flex-direction: row;
        align-items: center;
        gap:31px;
    }
        .testimonals-container-colmd4{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 35px 30px;
            max-height: 244px;
            min-width: 327px;

            border: 1px solid #DEDEDE;
            box-sizing: border-box;
            border-radius: 5px;
            
        }
                .testimonals-card-item-content{
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap:20px;
                }
                    .testimonals-card-item-content-frame{
                        display:flex;
                        flex-direction: row;
                        align-items: flex-start;
                        gap:15px;
                    }
                        .testimonals-card-item-content-persona{
                            display:flex;
                            flex-direction: column;
                            align-items: flex-start;
                        }
                            /* .testimonals-job{} */

/* 7.content */
.content-1{
    position: static;
    width: 1440px;
    height: 879px;
    left: 0px;
    top: 2143px;
    background-color: var(--light-gray-1);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:96px;
    }
    .content-row1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
    min-width: 607px;
    min-height: 107px;
    }

     
    
    .content-row2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-width: 1436px;
        min-height: 452px;
        gap: 21px;
        }
        .content-item-container{
            min-width: 291px;
            min-height: 432px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: end;
        }
        .content-colmd3{           
            position: absolute;   
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            padding: 10px 20px;
            gap:15px;
            /* background-image: url("../assets/post1.svg");    */
            
            }
            .content-item-text{
                color: var(--light-text-color);
            }
            .content-item-Bg-filter{
                min-width: 331px;
                min-height: 452px;
                position: absolute;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
            }
/* 8.pricing */
.pricing-4{
    position: static;
    width: 1440px;
    height: 1155px;
    left: 0px;
    top: 3022px;
    background-color: var(--light-gray-1);
}
    .pricing-container{    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:80px;
    padding: 112px 0px;
    }
    .content-row2{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:31px;
    }
    .colmd4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    min-width: 328px;
    min-height: 744px;
    
    }
    .pricing-card-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 40px;
        gap: 35px;

        box-sizing: border-box;
        border: 1px solid #DEDEDE;
        background: #FFFFFF;
    }
    .pricing-pricecontent{
        display: flex;
        flex-direction: column;
        align-items: center;    
    }
    .text-PrimaryColor{
        color:var(--primary-color)
    }
    .text-DisabledElementColor{
        color:var(--disabled-element-color)
    }
    .feature-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    .feature-item{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap:10px;

        text-align: left;
    }
    .textColor{
        color: var(--text-color);
    }
    .text-secondaryText{
        color:var(--second-text-color)
    }
    .pricing-Btn-primaryColor{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 40px;

        background: var(--primary-color);
        border: none;
        border-radius: 5px;
    }
    /* .highlight-circle-NEW{
        position: absolute;
        top:0px;
        left: calc(50% - 90px/2 + 102px)
    } */


    

/* 9.contact */
.contact-5{
    position: static;
    width: 1440px;
    height: 257px;
    left: 0px;
    top: 4177px;
    background-color: var(--dark-background-color);

}
/* 10.footer */
.footer-1{
    position: static;
    width: 1440px;
    height: 414px;
    left: 0px;
    top: 4434px;
    background-color: var(--light-gray-1);
}   


/* fix - button text i formatowanie button (round/zwykly/outline)
        row colmd3 colmd4 zunifikować formatowanie - bez klas dla kazdej sekcji
        feature-selection zunifikować formatowanie - same */


@media (min-width: 1441px){
    .desktop{
        width:100vw;
        align-items: center;
    }
}
