p{
    max-width: 50vw;
}
button {
    text-transform: uppercase;
    background-color: transparent;
    color: blueviolet;
    min-width: 64px;
    max-height: 36px;
    padding: auto 16px auto 16px;
    border: 1px solid blueviolet;
    border-radius: 2px;

}
button:focus, button:hover{
    background-color: rgba(138, 43, 226, 0.1)
    
}

button:active {
    background-color: rgba(138, 43, 226, 0.6);     
}

.item-block{ 
    display: block;
    margin: 2px;
    }